extends layout

block content

  if message.length
    table.listing-table.table-dark.table-striped
      tr
        th first name
        th last name
      each registration in message
        tr
          td= registration.topic
          td= registration.message         
  else
    p No message